*.out
.cph
*.prob
*.exe
/StressTest/testlib-master/checkers/.gitignore
/StressTest/testlib-master/checkers/acmp.cpp
/StressTest/testlib-master/checkers/caseicmp.cpp
/StressTest/testlib-master/checkers/casencmp.cpp
/StressTest/testlib-master/checkers/casewcmp.cpp
/StressTest/testlib-master/checkers/dcmp.cpp
/StressTest/testlib-master/checkers/fcmp.cpp
/StressTest/testlib-master/checkers/hcmp.cpp
/StressTest/testlib-master/checkers/icmp.cpp
/StressTest/testlib-master/checkers/lcmp.cpp
/StressTest/testlib-master/checkers/ncmp.cpp
/StressTest/testlib-master/checkers/nyesno.cpp
/StressTest/testlib-master/checkers/pointscmp.cpp
/StressTest/testlib-master/checkers/pointsinfo.cpp
/StressTest/testlib-master/checkers/rcmp.cpp
/StressTest/testlib-master/checkers/rcmp4.cpp
/StressTest/testlib-master/checkers/rcmp6.cpp
/StressTest/testlib-master/checkers/rcmp9.cpp
/StressTest/testlib-master/checkers/rncmp.cpp
/StressTest/testlib-master/checkers/uncmp.cpp
/StressTest/testlib-master/checkers/wcmp.cpp
/StressTest/testlib-master/checkers/yesno.cpp
/StressTest/testlib-master/docs/read.me
/StressTest/testlib-master/generators/bgen.cpp
/StressTest/testlib-master/generators/gen-array-with-opt.cpp
/StressTest/testlib-master/generators/gen-bipartite-graph.cpp
/StressTest/testlib-master/generators/gen-rooted-tree-graph.cpp
/StressTest/testlib-master/generators/gen-tree-graph.cpp
/StressTest/testlib-master/generators/gs.cpp
/StressTest/testlib-master/generators/igen.cpp
/StressTest/testlib-master/generators/iwgen.cpp
/StressTest/testlib-master/generators/multigen.cpp
/StressTest/testlib-master/generators/sgen.cpp
/StressTest/testlib-master/generators/swgen.cpp
/StressTest/testlib-master/interactors/interactor-a-plus-b.cpp
/StressTest/testlib-master/validators/bipartite-graph-validator.cpp
/StressTest/testlib-master/validators/case-nval.cpp
/StressTest/testlib-master/validators/ival.cpp
/StressTest/testlib-master/validators/nval.cpp
/StressTest/testlib-master/validators/sval.cpp
/StressTest/testlib-master/validators/undirected-graph-validator.cpp
/StressTest/testlib-master/validators/undirected-tree-validator.cpp
/StressTest/testlib-master/validators/validate-using-testset-and-group.cpp
/StressTest/testlib-master/LICENSE
/StressTest/testlib-master/read.me
/StressTest/testlib-master/README.md
/StressTest/testlib-master/testlib.h
.vscode/tasks.json
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
